h1, h2, h3, h4, p, .btn, li, .text-warning {
  font-family: 'Inconsolata', monospace;
  text-align: center;
  padding: 15px;
}

li {
  list-style-position: inside;
}

div#footer {
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background:#333;
	padding:8px;
}